.heart {
    color: red;
    margin: 0 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 2rem 2rem 0.5rem 2rem;
    color: white;
}

#typed3 {
    width: 250px;
    margin-left: 5px;
}

.footer-line{
    background: black;
    text-align: center;
    color: white;
}